@page
@model Henry.Pages.Events.EditEventModel
@{
    ViewData["Title"] = "Edit event";
}

<h1>Rediger Event</h1>

<form method="post">

    <input type="hidden" asp-for="@Model.EventToUpdate.Id" />
    <div class="form-group">
        <label asp-for="@Model.EventToUpdate.Name" class="control-label">Navn</label>
        <input asp-for="@Model.EventToUpdate.Name" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="@Model.EventToUpdate.Description" class="control-label">Beskrivelse</label>
        <input asp-for="@Model.EventToUpdate.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EventToUpdate.DateTime" class="control-label">Dato</label>
        <input asp-for="@Model.EventToUpdate.DateTime" class="form-control" />

    </div>
    <div class="form-group">
        <input type="submit" value="Opdater event" asp-page-handler="Update" class="btn btn-primary" />
        <input type="submit" value="Slet event" asp-page-handler="Delete" class="btn btn-primary" />
    </div>
</form>