@page
@model Henry.Pages.Events.IndexModel
@{
}

<h1>Liste af events</h1>

<p>
    <a asp-page="CreateEvent">Opret event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Dato</th>
            <th>Billede</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.DateTime</td>
                <td><img src="~/Imgs/EventImages/@item.Img" width="80" height="80" /></td>
                <td><a asp-page="EditEvent" asp-route-id="@item.Id">Opdater</a></td>
                <td><a asp-page="DeleteEvent" asp-route-deleteId="@item.Id">Slet</a></td>
            </tr>
        }
    </tbody>
</table>
