@page
@model Henry.Pages.LogIn.ProfilePageModel
@{
    ViewData["Title"] = "Profil";
    //This page is visible when you log in.
   
}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: blue;
            font-size: 18px;
        }


    </style>
</head> <!--This is the body of the "Profile card"-->
<body>

    <h2 style="text-align:center">Profil</h2>

    <div class="card">
        <img src="/Imgs/MemberImages/@Model.CurrentMember.Pb"  alt="Profilbillede" style="width:100%"/>
        <h1>@Model.CurrentMember.Name</h1>
        <p class="title">Tlf: @Model.CurrentMember.Phone</p>
        <p>Email: @Model.CurrentMember.Email</p>
        <p>Pårøende: @Model.CurrentMember.ICE</p>
        <a asp-page="/Members/EditMember" asp-route-id="@Model.CurrentMember.UserId">Opdater Profil</a> 
    </div>
  </body>
</html>
