@page
@model Henry.Pages.Blogs.CreateBlogModel
@{
    ViewData["Title"] = "Opret blog";
}

<h1>Opret blog</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.NewBlog.Title" class="control-label"></label>
        <input asp-for="@Model.NewBlog.Title" class="form-control" />
        <span asp-validation-for="NewBlog.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewBlog.Content" class="control-label"></label>
        <textarea style="white-space: nowrap" asp-for="@Model.NewBlog.Content" rows="10" class="form-control"></textarea>
        <span asp-validation-for="NewBlog.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Photo" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="@Model.Photo" class="custom-file-input form-control" />
            <span asp-validation-for="@Model.Photo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Opret blog" class="btn btn-primary" />
    </div>
</form>