@page "{id:int}"
@model Henry.Pages.Blogs.EditBlogModel
@{
    ViewData["Title"] = "Rediger Blog"; 
}

<h1>Rediger blog</h1>

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="@Model.BlogToUpdate.Id" />
    <div class="form-group">
        <label asp-for="@Model.BlogToUpdate.Title" class="control-label"></label>
        <input asp-for="@Model.BlogToUpdate.Title" class="form-control" />
        <span asp-validation-for="@Model.BlogToUpdate.Title" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogToUpdate.Content" class="control-label"></label>
        <textarea style="white-space: nowrap" asp-for="@Model.BlogToUpdate.Content" rows="10" class="form-control"></textarea>
        <span asp-validation-for="@Model.BlogToUpdate.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Photo" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="@Model.Photo" class="custom-file-input form-control" />
            <span asp-validation-for="@Model.Photo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Opdater blog med nyt billede" class="btn btn-primary" />
        <input type="submit" value="Opdater blog uden nyt billede" asp-page-handler="SamePicture" class="btn btn-primary" />
    </div>
</form>