@page
@model Henry.Pages.Blogs.EditBlogModel
@{
    ViewData["Title"] = "Edit Blog"; 
}

<h1>Edit blog</h1>

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="@Model.BlogToUpdate.Id" />
    <div class="form-group">
        <label asp-for="@Model.BlogToUpdate.Title" class="control-label"></label>
        <input asp-for="@Model.BlogToUpdate.Title" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="@Model.BlogToUpdate.Content" class="control-label"></label>
        <input asp-for="@Model.BlogToUpdate.Content" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Photo" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="@Model.Photo" class="custom-file-input form-control" />
            <span asp-validation-for="@Model.Photo" class="text-danger"></span>
        </div>
    <div class="form-group">
        <input type="submit" value="Update a blog" asp-page-handler="Update" class="btn btn-primary" />
        <input type="submit" value="Delete a blog" asp-page-handler="Delete" class="btn btn-primary" />
    </div>
</form>