@page
@using Henry.Interfaces
@inject IMemberRepository memberRepo
@model Henry.Pages.Blogs.IndexModel
@{
    ViewData["Title"] = "Blogs";
}

<h1>Liste af blogs</h1>
@if (memberRepo.VerifySessionAdmin(HttpContext))
{
    <p>
        <a asp-page="CreateBlog">Opret en ny blog</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Skrevet af</th>
            <th>Oprettet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blogs)
        {
            <tr>
                <td><a asp-page="ViewBlog" asp-route-id="@item.Id">@item.Title</a></td>
                <td>@memberRepo.GetMember(item.CreatorUserId).Name</td>
                <td>@item.Created.ToString("g")</td>
                @if (memberRepo.VerifySessionAdmin(HttpContext))
                {
                    <td><a asp-page="EditBlog" asp-route-id="@item.Id">Rediger</a></td>
                    <td><a asp-page="DeleteBlog" asp-route-id="@item.Id">Slet</a></td>
                }
            </tr>
        }
    </tbody>
</table>