@page
@using Henry.Interfaces
@inject IBoatRepository boatRepo
@inject IMemberRepository memberRepo
@model Henry.Pages.Boats.BoatsOutSailingModel
@{
    ViewData["Title"] = "Både ude og sejle";
}

<h1>Både ude og sejle</h1>
<p>Click på medlemmet i tabellen for se deres pårørende</p>
<table class="table">
    <thead>
        <tr>
            <th>Båd</th>
            <th>Båd ID</th>
            <th>Bådtype</th>
            <th>Booket af</th>
            <th>Medsejlende</th>
            <th>Starttid</th>
            <th>Sluttid</th>
            <th>Lokation</th>
            <th>Status</th>
            <th>Båd Billede</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var boat in boatRepo.GetAllBoats())
        {
            if (!boat.IsAvailable)
            {
                <tr>
                    <td><a asp-page="/Boats/ShowBoat" asp-route-id="@boat.Id">@boat.Name</a></td>
                    <td>@boat.Id</td>
                    <td>@boat.Type</td>
                    @if (boat.CurrentBooking != null)
                    {
                        //Pop-up for ICE for the member who booked the boat
                        <td>
                            <div class="popup" onclick="myFunction(@boat.Id)">@memberRepo.GetMember(boat.CurrentBooking.UserId).Name 
                             <span class="popuptext" id="myPopup@(boat.Id)">@memberRepo.GetMember(boat.CurrentBooking.UserId).ICE </span> </div>
                        </td>
                        //Explicit cast. This makes a pop-up with the ICE of each "medsejlende".
                        <td>
                            @if (boat.CurrentBooking.ExtraUsersIds != null)
                            {
                                @* @foreach (var ExtraMemberId in boat.CurrentBooking.ExtraUsersIds) *@
                                for (int i = 0; i<boat.CurrentBooking.ExtraUsersIds.Count; i++)
                                {
                                    <div class="popup" onclick="myFunction2(@boat.CurrentBooking.ExtraUsersIds[i],@boat.Id)">
                                        @{string msg;}
                                        @if (i == boat.CurrentBooking.ExtraUsersIds.Count-1)
                                        {
                                            msg = memberRepo.GetMember(boat.CurrentBooking.ExtraUsersIds[i]).Name;
                                        }
                                        else
                                        {
                                            msg = $"{memberRepo.GetMember(boat.CurrentBooking.ExtraUsersIds[i]).Name}, ";
                                        }
                                        @msg
                                        <span class="popuptext" id="myPopup2@(boat.CurrentBooking.ExtraUsersIds[i])@(boat.Id)">
                                            @memberRepo.GetMember(boat.CurrentBooking.ExtraUsersIds[i]).ICE 
                                        </span>
                                    </div>
                                }
                            }
                           
                        </td>
                        <td>@boat.CurrentBooking.BookingStart.ToString("g")</td>
                        <td>@boat.CurrentBooking.BookingEnd.ToString("g")</td>
                        <td>@boat.CurrentBooking.Location</td>
                        @if (@boat.IsExpired())
                        {
                            <td>&#128997;</td>
                        }

                        else
                        {
                            <td>&#129001;</td>
                        }
                       
                    }
                    else
                    {
                        <td>Fejl! Null reference</td>
                        <td>Fejl! Null reference</td>
                        <td>Fejl! Null reference</td>
                        <td>Fejl! Null reference</td>
                        <td>Fejl! Null reference</td>
                    }
                    <td><img src="/Imgs/BoatImgs/@boat.Img" width="80" height="80" /></td>
                </tr>
            }
        }
    </tbody>

</table>
<script>
    // When the user clicks on <div>, open the popup
    function myFunction(UserId) {
        var popup = document.getElementById("myPopup" + UserId);
        popup.classList.toggle("show");
    }
    function myFunction2(UserId, BoatId) {
        var popup = document.getElementById("myPopup2" + UserId + BoatId);
        popup.classList.toggle("show");
    }
</script>