@page
@using Henry.Interfaces
@model Henry.Pages.Boats.IndexModel
@inject IBoatRepository boatRepo;
@inject IMemberRepository memberRepo;
@inject IBookingRepository bookingRepo;
@inject IRepairRepository repairRepo;
@{
    ViewData["Title"] = "Bådsliste";
}

<h1>Bådsliste</h1>


@{
    // checks if the logged in user is verified, and is administrator
    if (memberRepo.VerifySessionAdmin(HttpContext))
    {
        <p>
            <a asp-page="CreateBoat">Opret en ny båd</a>
        </p>

    }
}



<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Bookinger</th>
            <th>Beskrivelse</th>
            <th>Oprettet</th>
            <th>Bådtype</th>
            <th>Reparationer</th>
            <th>ID</th>
            <th>Billede</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var boat in boatRepo.GetAllBoats() )
        {
            <tr>
                <td>@boat.Name</td>
                <td>
                    @{
                        // checks if the boat has 1 or more bookings, and if it does display all the bookings

                        if (!bookingRepo.HasAnyBookings(boat.Id))
                        {
                            <p>Ingen bookinger</p>
                        }
                        else
                        {
                            <ul>
                            @foreach (var booking in bookingRepo.GetBookingsForBoat(boat.Id))
                            {
                                    <li>Booket fra @booking.BookingStart.ToString("g") til @booking.BookingEnd.ToString("g") af @string.Join(",", booking.AllMemberNames) </li>

                            }
                            </ul>

                        }    
                 }
                </td>
                <td>@boat.Description</td>
                <td>@boat.Created.ToShortDateString()</td>
                <td>@boat.Type</td>
                <td>
                    @{
                        // if the boat dosent have any repairs
                        if (!repairRepo.HasAnyRepairs(boat.Id))
                        {
                            <p>Ingen reparationer</p>
                        }
                        else
                        {
                            // iterate through all repairs for this boat
                            <ul>
                            @foreach (var repair in repairRepo.GetRepairsForBoat(boat.Id))
                            {
                                <li>
                                Reparations titel: <a asp-page="/Repairs/ShowRepair" asp-route-id="@repair.RepairId">@repair.Title</a><br>
                                        Reparations beskrivelse: @repair.Description<br>
                                @if (repair.Img != null)
                                {

                                <p>Billede af skade:</p> <img src="Imgs/RepairImgs/@repair.Img" width="80" height="80">
                                
                                }
                                </li>
                            }
                            </ul>
                        }
                    }


                </td>
                <td>@boat.Id</td>
                <td><img src="Imgs/BoatImgs/@boat.Img" width="80" height="80" /></td>
                @{
                    // checks if the logged in user is verified, and is administrator
                    if (memberRepo.VerifySessionAdmin(HttpContext))
                    {
                        <td><a asp-page="EditBoat" asp-route-id="@boat.Id">Rediger</a></td>
                        <td><a asp-page="DeleteBoat" asp-route-id="@boat.Id">Slet</a></td>
                        
                    }
                }
                <td><a asp-page="ShowBoat" asp-route-id="@boat.Id">Vis båd</a></td>

            </tr>
        }
    </tbody>
</table>