@page "{id:int}"
@using Henry.Interfaces
@inject IMemberRepository memberRepo
@inject IBookingRepository bookingRepo
@inject IRepairRepository repairRepo
@model Henry.Pages.Boats.ShowBoatModel
@{
    ViewData["Title"] = "Vis båd";
}

<h1>Båd Navn: @Model.BoatToView.Name</h1>
<div>
    <p>Beskrivelse: @Model.BoatToView.Description</p>
    <p>Oprettet: @Model.BoatToView.Created</p>
    <p>Bådtype: @Model.BoatToView.Type</p>
    <p>ID: @Model.BoatToView.Id</p>
    <P>Billede:</p> <img src="/Imgs/BoatImgs/@Model.BoatToView.Img" width="160" height="160" /><br />
    @{
        // verify that the user is logged in to be able to see these options
        if (memberRepo.VerifySession(HttpContext))
        {
            <a asp-page="BookBoat" asp-route-id="@Model.BoatToView.Id">Book båd</a><br />
            <a asp-page="ReportRepair" asp-route-id="@Model.BoatToView.Id">Meld reparation</a>
        }
        else
        {
            <p>Du skal være logget ind, for at kunne booke en båd eller melde en reparation.</p>
        }
        // checks if the boat has 1 or more bookings, and if it does display all the bookings

        if (!bookingRepo.HasAnyBookings(Model.BoatToView.Id))
        {
            <p>Ingen bookinger for denne båd</p>
        }
        else
        {
            foreach (var booking in bookingRepo.GetBookingsForBoat(Model.BoatToView.Id))
            {
                <p>Booket fra @booking.BookingStart.ToString("g") til @booking.BookingEnd.ToString("g") af @string.Join(",", booking.AllMemberNames) </p>

            }

        }
        // if the boat dosent have any repairs
        if (!repairRepo.HasAnyRepairs(Model.BoatToView.Id))
        {
            <p>Ingen reparationer</p>
        }
        else
        {
            <h2>Reparationer: </h2>
            // iterate through all repairs for this boat
            <ul>
                @foreach (var repair in repairRepo.GetRepairsForBoat(Model.BoatToView.Id))
                {
                    <li>
                        Reparations titel: <a asp-page="/Repairs/ShowRepair" asp-route-id="@repair.RepairId">@repair.Title</a><br>
                        Reparations beskrivelse: @repair.Description<br>
                        @if (repair.Img != null)
                        {

                            <p>Billede af skade:</p> <img src="/Imgs/RepairImgs/@repair.Img" width="80" height="80">

                        }
                    </li>
                }
            </ul>
        }
    }
    <a asp-page="Index">Tilbage</a>
</div>