@page "{handler?}"
@using Henry.Interfaces;
@using Henry.Models;
@model Henry.Pages.Bookings.IndexModel
@inject IBookingRepository bookingRepo
@inject IBoatRepository boatRepo
@inject IMemberRepository memberRepo
@{
    ViewData["Title"] = "Bookings";
}
<h1>Bookinger</h1>

@{
    
    // checks if the logged in user is verified, is administrator, and already has admin view enabled
    if (memberRepo.VerifySessionAdmin(HttpContext) && HttpContext.Session.GetInt32("AdminViewBookings") == 1)
    {
        <form method="get">
            <input type="submit" asp-page-handler="RemoveAdmin" value="Vis kun dine egne bookinger" class="btn btn-primary" />
        </form>
    }
    // checks if the logged in user is verified, and is administrator
     else if (memberRepo.VerifySessionAdmin(HttpContext))
     {
        <form method="get">
            <input type="submit" asp-page-handler="Admin" value="Vis alle bookinger" class="btn btn-primary"/>
        </form>

     }
}

<table class="table">
    <thead>
        <tr>
            <th>Båd</th>
            <th>Starttid</th>
            <th>Sluttid</th>
            <th>Medlem</th>
            <th>Medsejlende</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BoatBooking booking in bookingRepo.GetAllBookings())
        {
            // only display the booking if the logged in user is part of it, or display all if the user is in "Admin" mode
            if ((booking.AllMemberIds.Contains((int)HttpContext.Session.GetInt32("UserId")) || (HttpContext.Session.GetInt32("AdminViewBookings") == 1)))
            {
                <tr>
                    <td><a asp-page="/Boats/ShowBoat" asp-route-id="@booking.BoatId">@boatRepo.GetBoat(booking.BoatId).Name</a></td>
                    <td>@booking.BookingStart</td>
                    <td>@booking.BookingEnd</td>
                    <td>@memberRepo.GetMember(booking.UserId).Name</td>
                    <td>@string.Join(",", booking.ExtraMemberNames)</td>
                    <td>@booking.BookingId</td>
                    <td><a asp-page="DeleteBooking" asp-route-id="@booking.BookingId">Slet</a></td>
                </tr>
            }
        }

    <</tbody>
<</table>>
