@page "{id:int}"
@using Henry.Interfaces
@inject IBoatRepository boatRepo;
@inject IRepairRepository repairRepo;
@inject IMemberRepository memberRepo;
@model Henry.Pages.Repairs.DeleteRepairModel
@{
    ViewData["Title"] = "Fjern reparation";
}
<h1>Er du sikker på, at du vil slette den følgende reparation?:</h1>
<div>
    Båd: <a asp-page="/Boats/ShowBoat" asp-route-id="@Model.RepairToDelete.BoatId">@Model.RepairToDelete.BoatName</a>
    <p>Oprettet af: @Model.RepairToDelete.UserName</p>
    <p>Titel: @Model.RepairToDelete.Title</p>
    <p>Beskrivelse: @Model.RepairToDelete.Description</p>
    <p>Oprettet: @Model.RepairToDelete.Created.ToString("g")</p>
    @if (Model.RepairToDelete.Img == null)
    {
        <p>Intet billede</p>
    }
    else
    {
        <img src="/Imgs/RepairImgs/@Model.RepairToDelete.Img" width="120" height="120" />
    }
    <p>ID: @Model.RepairToDelete.RepairId</p>
</div>
<div>
    <form method="post">
        <input type="submit" asp-route-id="@Model.RepairToDelete.RepairId" value="Fjern reparation" class="btn btn-primary" />
    </form>
    <a asp-page="Index">Tilbage</a>


</div>